docs/_site
docs/_posts/.Archive
.DS_Store
.vscode
docs/Gemfile.lock
*.swp
*.log
.idea
.tmp
dump.rdb
.sass-cache
.jekyll-metadata
_drafts/
vendor/

.sync/*

.me_configs.data

.z_sync_configs.data

sync_changes.log

sync_hook.script

**/.Archive

# markeditor2.0
**/.display_ignore
**/.sort
configs
.folder_filter.config
.markeditor
